body {
  background-color: #dddddd;
  margin-top: 10px;
}

main {
  text-align: center;
  margin: 0 auto;
}

.scoreboard {
  padding: 20px;
}

.previous-balls {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: red;
}

.btn-default {
  width: 12%;
  font-size: 120px;
  background-color: lightgray;
  text-align: center;
  padding: 18px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

.xxx {
  width: 12%;
  font-size: 120px;
  background-color: lightgray;
  text-align: center;
  padding: 18px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

.selected {
  background-color: gold;
}
